# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
cmake-build-debug\*

# Files
CMakeLists.txt
/cmake-build-debug/349_Project_2.cbp
/cmake-build-debug/CMakeFiles/349_Project_2.dir/build.make
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ce24128d9f120e9890ce.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/build/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/349_Project_2.dir/cmake_clean.cmake
/cmake-build-debug/cmake_install.cmake
/build/CMakeCache.txt
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.24.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-1f5e8423acdddfe0a839.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.24.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-e674f1855a3f9b72b780.json
/cmake-build-debug/CMakeFiles/349_Project_2.dir/compiler_depend.internal
/cmake-build-debug/CMakeFiles/349_Project_2.dir/compiler_depend.make
/cmake-build-debug/CMakeFiles/349_Project_2.dir/compiler_depend.ts
/cmake-build-debug/CMakeFiles/349_Project_2.dir/depend.make
/cmake-build-debug/CMakeFiles/349_Project_2.dir/DependInfo.cmake
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/CMakeFiles/349_Project_2.dir/flags.make
/cmake-build-debug/.cmake/api/v1/reply/index-2023-02-13T20-53-05-0176.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/349_Project_2.dir/link.txt
/cmake-build-debug/CMakeFiles/349_Project_2.dir/linklibs.rsp
/cmake-build-debug/Makefile
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/CMakeFiles/349_Project_2.dir/objects1.rsp
/cmake-build-debug/CMakeFiles/349_Project_2.dir/progress.make
/cmake-build-debug/CMakeFiles/progress.marks
/build/.cmake/api/v1/query/client-vscode/query.json
/cmake-build-debug/.cmake/api/v1/reply/target-349_Project_2-Debug-e1dc208acbb8f674f13a.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-a4c4535f648efa189504.json
